/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Rubik&family=Titillium+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.bg-login {
  background-image: url(images/blob-scene-haikei.svg);
  height: max;
}

h1,h2,h3,h4 {
  font-family: "Titillium Web", sans-serif;
}

p,a,input,label,button {
  font-family: 'Lato', sans-serif;
  }
